
  <div class="title-block">
    <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
    </h3>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-6">
        <apa-add-event></apa-add-event>
      </div>
      <div class="col-md-6">
        <apa-add-category (onCategoryAdd)="newCategoryAdded($event)"></apa-add-category>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <apa-edit-category></apa-edit-category>
      </div>
    </div>
  </section>
