
  <div class="title-block">
    <h3 class="title">
      History page <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
      <button class="btn-sm btn btn-primary-outline">
        <i class="fa fa-filter" (click)="openFilter()"></i>
      </button>
    </div>
  </div>
  <div *ngIf="!isLoaded" class="text-center">Loading...</div>
  <div *ngIf="isLoaded">
    <apa-history-chart [data]="chartData"></apa-history-chart>
    <apa-history-events
      [categories]="categories"
      [events]="events"
    ></apa-history-events>

    <div *ngIf="isFilterVisible">
      <apa-history-filter
              (onFilterApply)="onFilterApply($event)"
              (onFilterCancel)="onFilterCancel()"
              [categories]="categories"
      ></apa-history-filter>
    </div>
  </div>

