

<div class="title-block">
        <h3 class="title pull-left">
          Страница счета <span class="sparkline bar"></span>
        </h3>
        <div class="pull-right">
          <button class="btn-sm btn btn-primary-outline">
            <i class="fa fa-refresh" (click)="onRefresh()"></i>
          </button>
        </div>
</div>
<section class="section">
    <div class="row text-center" *ngIf="!isLoaded">
        Loading...
    </div>
        <div class="row" *ngIf="isLoaded">
          <apa-bill-card [bill]="bill" [currency]="currency"></apa-bill-card>
          <apa-currency-card [currency]="currency"></apa-currency-card>
        </div>
 </section>

